@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Domine", serif;
  font-size: 1.6rem;
  background-color: #e3eaf0;
}

header {
  color: white;
  padding: 0px;
}

figure {
  display: block;
}
figure img {
  max-width: 100%;
}
#logo {
  max-width: 100%;
  height: 100px;
}

#home {
  text-align: center;
  padding: 30rem;
  background-image: url(images/imgonline-com-ua-Resize-3WGwn5fzRa3.jpg);
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  color: white;
  background-color: #acb4bebe;
}

.header > * {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}
#info h3 {
  padding: 20px;
  color: black;
  font-size: 1.6rem;
  line-height: 2.5;
  padding-top: 40px;
}
/* v채line vuokra */
#v채line_vuokra {
}
select {
  /* styling */
  background-color: white;

  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.v채line_vuokra_heading {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  font-size: 3rem;
  color: #00008b;
}

/* arrows */
/*Select arrows colors and styles*/

.koko {
  font-size: 1.2rem;

  background-position: calc(100% - 10px) calc(1em + -1px),
    calc(100% - 5px) calc(1em + -1px), 100% 0;
}
select {
  background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #000c66, #000c66);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

/*each size select box */

#v채line_vuokra_form {
  text-align: center;
}

.huoltajan {
}

.gap {
  padding: 2rem;
}

.star {
}

/*cards*/

.menneisyys {
  background-color: #f4f4f4;
}
.menneisyys-p {
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem 0 2rem 1rem;
}
.menneisyys-article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menneisyys-article > * {
  flex-grow: 1;
  flex-basis: 0;
  border: solid 0.25rem lightgrey;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
}

.card {
  padding: 1rem;
  padding: 1rem;
  background-color: white;
}
.card-img-top {
  /* width: 100%; */
  height: 15vw;
  object-fit: cover;
}
.sukset {
  padding-bottom: 0.25rem;
}
.card-title {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: bold;
}
.card-text {
  font-size: 1.5rem;
}
.btn-primary {
  font-size: 1.5rem;
  color: blue;
}
.price {
  padding: 1rem;
}
.btn-primary {
  color: #fff;
  background-color: #000c66;
  border-color: #000c66;
}
.btn-sm {
  padding: 0.8rem 2.5rem;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 0.4rem;
}

.btn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 30px;
    margin-bottom: 40px;
}

/*Alert box*/

#alert-box {
  display: none;
  padding-top: 1rem;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.25rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.message {
  padding-left: 1rem;
}
button {
  overflow: visible;
}

hr {
  margin: 2rem 0;
  border: 1px solid skyblue;
}

/*Header alkaa*/

header li {
  padding-top: 40px;
}
a {
  list-style: none;
  color: black;
  text-decoration: none;
}

.opacity {
  color: black;
  background-color: #acb4be93;
  padding: 50px;
  line-height: 2;
  border-radius: 25px;
  display: inline-block;
}
.opacity h1 {
  font-weight: bold;
  font-size: 2rem;
}

/* HERE STARTS ILMOITTAUTUMINEN FORM CSS RULES */

#ilmoittautuminen {
  margin: 10px;
  padding-top: 10px;
}
#ilmoittautuminen h1 {
  font-weight: bold;
  font-size: 2rem;
}
/* Remove outline of all elements on focus */
*:focus {
  outline: 0;
}
h3 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

#red {
  color: red;
}

/* Add styles to 'container' class */
.container {
  padding: 12px 24px 24px 24px;
  margin: 48px 12px;
  border-radius: 4px;
}

/* Add styles to 'label' selector */
label {
  font-size: 0.85em;
  margin-left: 12px;
  color: black;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid green;
}

/* Add styles to the submit button */
input[type="submit"] {
  background: #000c66;
  margin: 0 auto;
  outline: 0;
  color: white;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}

/* Add styles for 'focus' property */
input[type="submit"]:focus {
  background: #a5d6a7;
  color: whitesmoke;
}

/* Style 'hover' property */
input[type="submit"]:hover {
  background: #2196f3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 30px;
}
.footerText {
  color: white;
  text-align: center;
}

/*Annas CSS footer rules*/
footer {
  background-color: white;
  padding-top: 30px;
  display: block;
}
footer h1 {
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 2rem;
}
footer p {
  padding-top: 25px;
}
footer figure img {
  max-width: 50%;
}
.forFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.forFlex > * {
  flex-grow: 1;
  flex-basis: 45%;
}
footer ul {
  list-style: none;
}
footer li {
  display: inline-block;
}
#somet {
  padding-bottom: 40px;
  letter-spacing: 20px;
  color: #2a86d1;
  padding-top: 20px;
}
