@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&display=swap');
html {
  font-size: 62.5%;
}

body {
  font-family: 'Arima Madurai', cursive;
  font-size: 1.6rem;
  background-color: #e3eaf0;
}

header {
  color: white;
  padding: 0px;
}
h2 {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

figure {
  display: block;
}
figure img {
  max-width: 100%;
}
#logo {
  max-width: 100%;
  height: 100px;
  padding-left: 20px;
}

#home {
  /* text-align: center;
  padding: 30rem;
  background-image: url(images/imgonline-com-ua-Resize-3WGwn5fzRa3.jpg); */
  text-align: center;
  background-image: url(images/imgonline-com-ua-Resize-3WGwn5fzRa3.jpg);
    object-fit: cover;
    max-width: 100%;
    height: 600px;
    vertical-align: middle;
    background-position: center;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  color: white;
  background-color: #07589a;
  z-index: 9999;
}

.header > * {
  flex-grow: 1;
  /* flex-basis: 0;

  text-align: center; */
}
#info h3 {
  padding: 20px;
  color: #004b88;
  font-size: 1.6rem;
  line-height: 2.5;
  padding-top: 40px;
  font-weight:bold;
}


/* v채line vuokra */
#v채line_vuokra {
  font-family: 'Arima Madurai', cursive;
  color: #004b88;
}
select {
  /* styling */
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.v채line_vuokra_heading {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  font-size: 2rem;
  color: #004b88;
  font-family: 'Arima Madurai', cursive;
  font-weight: bold;
}

/* arrows */
/*Select arrows colors and styles*/
#posti{ /*mail select*/
   margin-left: 1rem;
   padding-left: 1rem;
}

.koko{
  color: #07589a;
  font-size: 1rem;
  font-weight: 600;
  background-position:
  calc(100% - 10px) calc(1em + -1px),
  calc(100% - 5px) calc(1em + -1px),
  100% 0;
  background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;

}
select {
  font-size: 1.4rem;
  color: #07589a;
  background-image:
    linear-gradient(46deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #07589a, #07589a);
  background-position:
    calc(100% - 19px) calc(1em + 2px),
    calc(100% - 14px) calc(1em + 2px),
    100% 0;
    background-size:
      8px 6px,
      6px 7px,
      2.5em 2.5em;
  background-repeat: no-repeat;
}
/*each size select box */

#v채line_vuokra_form {
  text-align: center;
  margin: 10px;
}

.gap {
  padding: 2rem;
}

/*anchor*/ /*for anchor tag in nav bar to be landed in correct position*/
 .anchor{
  display: block;
  position: relative;
  width: 0;
  height: 0;
  top: -100px;
  left: 0;
  visibility: hidden;
} 
/*cards*/

.menneisyys {
  background-color: #f4f4f4;
}
.menneisyys-p {
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem 0 2rem 1rem;
}
.menneisyys-article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menneisyys-article > * {
  flex-grow: 1;
  flex-basis: 0;
  border: solid 0.25rem #6eb0e6;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
}

.card {
  padding: 1rem;
  padding: 1rem;
  background-color: white;
}
.card-img-top {
  /* width: 100%; */
  height: 15vw;
  object-fit: contain;
}
.sukset {
  padding-bottom: 0.25rem;
}
.card-title {
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: bold;
}
.card-text {
  font-size: 1.5rem;
}

.price {
  padding: 1rem;
  font-weight: bold;
}

/*Button vaara*/
.btn-primary {
  color: #fff;
  background-color: #07589a;
  border-color: #07589a;
}
.btn-sm {
  padding: 12px 24px;
  font-size: 1.5rem;
  line-height: 1;
  border-radius: 0.4rem;
}

.btn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 30px;
    margin-bottom: 40px;
    background:#07589a !important ;
    border: #07589a !important;
}


.button{
  display:inline-block;
}
/*Alert box*/

#alert-box {
  display: none;
  padding-top: 1rem;
}
#alert-box-1{
  display: none;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}


.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.25rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.alert1{
  margin-top: 1rem;
}

.message {
  padding-left: 1rem;
  line-height: 2rem;
}

#mail{
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  color: black;
}
button {
  overflow: visible;
}
  /*Header alkaa*/
hr {
  margin: 2rem 0;
  border: 1px solid skyblue;
}


/*Header alkaa*/

header li {
  padding-top: 40px;
}
a {
  list-style: none;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.4rem;
}

.opacity {
  color: black;
  /* background-color: #acb4be93; */
  padding: 30px;
  line-height: 2;
  border-radius: 25px;
  display: inline-block;
  margin-top: 320px;
}
.opacity h1 {
  font-weight: bold;
  font-size: 3.5rem;
  color: white;
}

/* HERE STARTS ILMOITTAUTUMINEN FORM CSS RULES */

#ilmoittautuminen {
  margin:auto  10px;
  padding-top: 10px;
}
form {
  padding-right: 20px;
  padding-left: 20px;
}
#ilmoittautuminen h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
  padding-top: 20px;
  color: #004b88;
}
/* Remove outline of all elements on focus */
*:focus {
  outline: 0;
}
h3 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

#red {
  color: red;
}

/* Add styles to 'container' class */
/* .container {
  padding: 12px 24px 24px 24px;
  margin: 48px 12px;
  border-radius: 4px;
} */

/* Add styles to 'label' selector */
label {
  font-size: 1.6rem;
  margin-left: 12px;
  color: #07589a;
  font-weight: bold;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 15px;
}

/* Add styles to show 'focus' of selector */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid green;
}

/* Add styles to the submit button */
input[type="submit"] {
  background: #07589a;
  margin: 0 auto;
  outline: 0;
  color: white;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}

/* Add styles for 'focus' property */
input[type="submit"]:focus {
  background: #a5d6a7;
  color: whitesmoke;
}

/* Style 'hover' property */
input[type="submit"]:hover {
  background: #2196f3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 30px;
}
.footerText {
  color: white;
  text-align: center;
}

/*Annas CSS footer rules*/
footer {
  background-color: white;
  padding-top: 30px;
  display: block;
  color: #004b88;
}
footer h1 {
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 2rem;
  padding-top: 20px;
}
footer p {
  padding-top: 25px;
  font-weight: bold;
}
footer figure img {
  max-width: 50%;
}
.forFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.forFlex > * {
  flex-grow: 1;
  flex-basis: 45%;
}
footer ul {
  list-style: none;
  padding-bottom: 20px;
}
footer li {
  display: inline-block;
}
.strong {
  font-size: 1.8rem;
  font-weight: bolder;
}
/*facebook icon*/
#somet1 {
  padding-bottom: 40px;
  letter-spacing: 20px;
  color: #2d48be;
  padding: 20px;
}

/*youtube icon*/
#somet2 {
  padding-bottom: 40px;
  letter-spacing: 20px;
  color: #be1111;
  padding: 20px;
}
/*insta icon*/

#somet3 {
  padding-bottom: 40px;
  letter-spacing: 20px;
  color: #700c6b;
  padding: 20px;
}
 /*Alert for form files*/

 /* .name{
   display: none;
   
   font-size: 1rem;
   color: red;
   padding-left: 1rem;
 } */

/*media queries for responsive web design*/
@media only screen and (max-width: 426px) {
  #home {
    height: 550px;
  }
  .header {
    display: flex;
    flex-direction: row;
    height: 100px;
  }
  .header > * {
  }
  a {
    font-size: 1.2rem;
    font-weight: bolder;
  }
  #logo {
    display: none;
  }
  .opacity {
    color: black;
    /* background-color: #acb4be93; */
    padding: 20px;
    line-height: 2;
    border-radius: 25px;
    display: inline-block;
    margin-top: 300px;
    max-width: 300px
  }
  .opacity h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .opacity h2 {
    font-size: 2rem ;
  }
}


@media only screen and (min-width: 426px) and (max-width: 560px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .header > * {
  }
    a {
    font-size: 1.4rem;
    font-weight: bolder;
  }
  #logo {
    display: none;
  }
  .opacity {
    color: black;
    /* background-color: #acb4be93; */
    padding: 20px;
    line-height: 2;
    border-radius: 25px;
    display: inline-block;
    margin-top: 320px;
    max-width: 300px;
  }
  .opacity h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  .opacity h2 {
    font-size: 2.5rem ;
  }

}
@media only screen  and (max-width : 426px) {

  /* Smartphone view */
  select{
    background-position: calc(100% - 17px) calc(1em + 2px), calc(100% - 12px) calc(1em + 2px), 100% 0;
    background-size: 10px 5px, 5px 5px, 2.5em 2.5em;
  }
  .koko{
   font-size: 1.2rem;
   font-weight: 600;
   background-position: calc(100% - 14px) calc(1em + 0px), calc(100% - 9px) calc(1em + 0px), 100% 0;
   color:#004b88;
  }
  .btn-sm {
   padding: 1.8rem 4.5rem;
   font-size: 2rem;
   line-height: 1;
   border-radius: 0.4rem;
}
  .menneisyys-article{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .menneisyys-article > *{
    flex-grow: 1;
    flex-basis:0;
  }
  .huoltajan{
    font-size: 1.8rem;
  }
 
  #vaara_button{
   font-size:1.4rem ;
   padding: 1.2rem;

  }
#posti{ /*mail select*/
  margin-top: 1rem;
}

  /* #perutta_button{
    font-size:1.4rem ;
   padding: 1.2rem;
  } */
 
}

@media only screen  and (min-width : 426px) and (max-width : 1051px){

  .koko{
    font-size: 1.3rem;
    font-weight: 600;
    background-position: calc(100% - 14px) calc(1em + 0px), calc(100% - 9px) calc(1em + 0px), 100% 0;
    color: #004b88;
   }


}
